/*loading页面*/
@keyframes loadingMove {
	0% {
		background-position: 0 0.3rem;
	}
	100% {
		background-position: 0 0;
	}
}

@-webkit-keyframes loadingMove {
	0% {
		background-position: 0 0.3rem;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes bgMove {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 1rem 0;
	}
}

@-webkit-keyframes bgMove {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 1rem 0;
	}
}

@keyframes ufoMove {
	0% {
		width: 2rem;
		top: .3rem;
		right: 0;
	}
	20% {
		width: 2.5rem;
		top: 3.7rem;
		right: 5rem;
	}
	30% {
		width: 2.8rem;
		top: 3rem;
		right: 2.1rem;
	}
	80% {
		width: 2.8rem;
		top: 3rem;
		right: 2.1rem;
	}
	90% {
		width: 2.5rem;
		top: 2.6rem;
		right: 0.3rem;
	}
	100% {
		width: 2.2rem;
		top: -1.2rem;
		right: 5.2rem;
	}
}

@-webkit-keyframes ufoMove {
	0% {
		width: 2rem;
		top: .3rem;
		right: 0;
	}
	20% {
		width: 2.5rem;
		top: 3.7rem;
		right: 5rem;
	}
	30% {
		width: 2.8rem;
		top: 3rem;
		right: 2.1rem;
	}
	80% {
		width: 2.8rem;
		top: 3rem;
		right: 2.1rem;
	}
	90% {
		width: 2.5rem;
		top: 2.6rem;
		right: 0.3rem;
	}
	100% {
		width: 2.2rem;
		top: -1.2rem;
		right: 5.2rem;
	}
}

@keyframes auraMove {
	0% {
		transform: scale(0);
		-webkit-transform: scale(0);
		top: .8rem;
		display: block;
	}
	100% {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		top: 1.7rem;
		display: none;
	}
}

@-webkit-keyframes auraMove {
	0% {
		transform: scale(0);
		-webkit-transform: scale(0);
		top: .8rem;
		display: block;
	}
	100% {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		top: 1.7rem;
		display: none;
	}
}

@keyframes emailBiling {
	from {
		opacity: 0.8;
		font-size: .5rem;
	}
	to {
		opacity: 0;
		ont-size: .3rem;
	}
}

@-webkit-keyframes emailBiling {
	from {
		opacity: 0.8;
		font-size: .6rem;
	}
	to {
		opacity: 0.1;
		font-size: .3rem;
	}
}
/*phoneEmail区域*/
@keyframes pulse {
  from {
    transform: scale3d(.5, .5, .5);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(.5, .5, .5);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: scale3d(.5, .5, .5);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(.5, .5, .5);
  }
}

/*information页面*/
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0) rotate(90deg);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0) rotate(90deg);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0) rotate(90deg);
  }

  90% {
    transform: translate3d(0,-4px,0) rotate(90deg);
  }
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0) rotate(90deg);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0) rotate(90deg);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0) rotate(90deg);
  }

  90% {
    transform: translate3d(0,-4px,0) rotate(90deg);
  }
}

/*page1*/
@keyframes action-introduce {
	from {
		transform: rotate(-118deg) translate(2.5rem) rotate(118deg);
	}
	to {
		transform: rotate(242deg) translate(2.5rem) rotate(-242deg);
	}
}
@keyframes action-skill {
	from {
		transform: rotate(-27deg) translate(2.7rem) rotate(27deg);
	}
	to {
		transform: rotate(333deg) translate(2.7rem) rotate(-333deg);
	}
}
@keyframes action-blog {
	from {
		transform: rotate(57deg) translate(2.2rem) rotate(-57deg);
	}
	to {
		transform: rotate(417deg) translate(2.2rem) rotate(-417deg);
	}
}
@keyframes action-project {
	from {
		transform: rotate(132deg) translate(2.9rem) rotate(-132deg);
	}
	to {
		transform: rotate(492deg) translate(2.9rem) rotate(-492deg);
	}
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
/*page2*/
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}
/*page3*/
@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}